footer {
    display: flex;
    flex-direction: column;
  }

  .about {
    width: 60rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: $melyna;
    list-style-type: none;
  }

  .about li:nth-child(n+2):before {
      content: '';
      display: inline-block;
      width: 0.25rem;
      height: 0.25rem;
      border-radius: 50%;
      background: rgb(0, 174, 255);
      transform: translateY(-0.5rem) translateX(-2rem);
  }


  .footer {
    font-size: 2rem;
    color: gray;
    padding-left: 6rem;
  }

  .media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30rem;
    height: 5rem;
    margin: 1rem;

    i {
      color: $melyna;
      font-size: 7rem;
     }
  }

  .complex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1.5rem;
  
  }