.header1 {
    display: flex;
    position: fixed;
    z-index: 1;
    background-color: white;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    width: 100%;

    p {
      padding: 1rem;
      font-weight: bold;
    }
  
  
  .sign {
    padding: 1rem;
    background-color: rgb(0, 174, 255);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    } 
  }
  
  
  .register {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 2.5rem;
    width: 100%;
    height: 50rem;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
      h2  {
        position: absolute;
        width: 60rem;
        font-size: 3rem;
        margin-bottom: 10rem;
        text-align: center;
        color: white;
    }
    
    .enteremail {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;
      padding-top: 15rem;
    }
  
    
  .button {
    // position: absolute;
    padding-top: 1rem;
    font-size: 2rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
    background-color: $melyna;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    }
  
  }
  
  .field {
    height: 3rem;
    width: 25rem;
    font-size: 2rem;
    padding-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
  }
  


  // BLUE ICONS

   .features  {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 3.5rem;
    padding-bottom: 2.5rem;

    i {
      color: $melyna;
      font-size: 7rem;
     }
  }
