  .saying {
    text-align: center;
    padding: 2.5rem;
    font-size: 5rem;

    
  }

.opinion  {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  
    div {
      width: 30rem;
    }
    
  }
  
  .people {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 3px 5px 2px gray;
  }
  
  
  
  
  .signup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 15rem;
  
    img {
      width: 100%;
      height: 100%;;
      object-fit: cover;
    }
  
    h2  {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 50%;
      font-size: 3rem;
      text-align: center;
      color: white;
    }
  
  .button {
    padding-top: 1rem;
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: $melyna;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    }
  
    }
  
    .signup2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;
      padding-top: 2.5rem;
    }